<config>
 <interfaces xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-um-interface-cfg">
  <interface>
   <mtu>{{rand_mtu}}</mtu>
   <interface-name>{{main_interface}}</interface-name>
  </interface>
 </interfaces>
</config>