<config>
    <interfaces xmlns="http://openconfig.net/yang/interfaces">
      <interface>
        <config>
          <mtu>{{rand_mtu}}</mtu>
        </config>
        <name>{{main_interface}}</name>
      </interface>
    </interfaces>
</config>