<filter>
    <bgp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-ipv4-bgp-oper">
      <instances>
        <instance>
          <instance-active>
            <default-vrf>
              <neighbors>
                <neighbor>
                 <connection-state/>
		         <neighbor-address/>
                 <af-data>
                  <af-name/>
                 </af-data>
                </neighbor>
              </neighbors>
            </default-vrf>
          </instance-active>
          <instance-name/>
        </instance>
      </instances>
    </bgp>
</filter>