<filter>
  <l2vpnv2 xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-l2vpn-oper">
    <nodes>
      <node>
        <xconnects>
          <xconnect>
           <group-name>ALX_NCS_LE-10{{item}}</group-name>
            <segment1>
             <attachment-circuit>
              <state/>
             </attachment-circuit>
            </segment1>
            <segment2>
              <pseudo-wire>
                <state/>
              </pseudo-wire>
            </segment2>
          </xconnect>
        </xconnects>
        <node-id/>
      </node>
    </nodes>
  </l2vpnv2>
</filter>