{# UNI Regulator Configuration -#}
bandwidth-regulator add regulator U5_ALX/NCS/LE-{{ 100000 + item|int }} cir {{ service_BW * Pre_CIR // 100 }} cir-max {{ service_BW * Pre_CIR_MAX // 100 }} cbs 60 eir 0 eir-max 0 ebs 120 color-mode blind coupling-flag false
bandwidth-regulator add regulator U3_ALX/NCS/LE-{{ 100000 + item|int }} cir {{ service_BW * B1_CIR // 100 }} cir-max {{ service_BW * B1_CIR_MAX // 100 }} cbs 60 eir 0 eir-max 0 ebs 120 color-mode blind coupling-flag false
bandwidth-regulator add regulator U2_ALX/NCS/LE-{{ 100000 + item|int }} cir {{ service_BW * B2_CIR // 100 }} cir-max {{ service_BW * B2_CIR_MAX // 100 }} cbs 250 eir 0 eir-max {{ service_BW * B2_EIR_MAX // 100 }} ebs 500 color-mode blind coupling-flag false
bandwidth-regulator add regulator U1_ALX/NCS/LE-{{ 100000 + item|int }} cir {{ service_BW * B3_CIR // 100 }} cir-max {{ service_BW * B3_CIR_MAX // 100 }} cbs 500 eir 0 eir-max {{ service_BW * B3_EIR_MAX // 100 }} ebs 1000 color-mode blind coupling-flag false
bandwidth-regulator add regulator U4_ALX/NCS/LE-{{ 100000 + item|int }} cir {{ service_BW * STD_CIR // 100 }} cir-max {{ service_BW * STD_CIR_MAX // 100 }} cbs 500 eir 0 eir-max 0 ebs 10 color-mode blind coupling-flag false
bandwidth-regulator add regulator U35_ALX/NCS/LE-{{ 100000 + item|int }}_BM cir {{ service_BW * Pre_BM_CIR // 100 }} cir-max {{ service_BW * Pre_BM_CIR_MAX // 100 }} cbs 60 eir 0 eir-max 0 ebs 120 color-mode blind coupling-flag false
bandwidth-regulator add regulator U412_ALX/NCS/LE-{{ 100000 + item|int }}_BM cir {{ service_BW * Nor_BM_CIR // 100 }} cir-max {{ service_BW * Nor_BM_CIR_MAX // 100 }} cbs 250 eir 0 eir-max 0 ebs 500 color-mode blind coupling-flag false
bandwidth-regulator add envelope U_ALX/NCS/LE-{{ 100000 + item|int }} coupling-flag True ranking U35_ALX/NCS/LE-{{ 100000 + item|int }}_BM,U412_ALX/NCS/LE-{{ 100000 + item|int }}_BM,U5_ALX/NCS/LE-{{ 100000 + item|int }},U3_ALX/NCS/LE-{{ 100000 + item|int }},U2_ALX/NCS/LE-{{ 100000 + item|int }},U1_ALX/NCS/LE-{{ 100000 + item|int }},U4_ALX/NCS/LE-{{ 100000 + item|int }}
{# NNI Regulator Configuration -#}
bandwidth-regulator add regulator N3_ALX/NCS/LE-{{ 100000 + item|int }} cir {{ service_BW }} cir-max {{ service_BW }} cbs 20 eir 0 eir-max {{ service_BW }} ebs 40 color-mode aware coupling-flag true
bandwidth-regulator add regulator N0_ALX/NCS/LE-{{ 100000 + item|int }} cir {{ service_BW }} cir-max {{ service_BW }} cbs 250 eir 0 eir-max {{ service_BW }} ebs 500 color-mode aware coupling-flag true
bandwidth-regulator add regulator N4_ALX/NCS/LE-{{ 100000 + item|int }} cir {{ service_BW }} cir-max {{ service_BW }} cbs 250 eir 0 eir-max {{ service_BW }} ebs 500 color-mode aware coupling-flag true
bandwidth-regulator add regulator N5_ALX/NCS/LE-{{ 100000 + item|int }} cir {{ service_BW }} cir-max {{ service_BW }} cbs 20 eir 0 eir-max {{ service_BW }} ebs 40 color-mode aware coupling-flag true
bandwidth-regulator add regulator N2_ALX/NCS/LE-{{ 100000 + item|int }} cir {{ service_BW }} cir-max {{ service_BW }} cbs 100 eir 0 eir-max {{ service_BW }} ebs 200 color-mode aware coupling-flag true
bandwidth-regulator add regulator N1_ALX/NCS/LE-{{ 100000 + item|int }} cir {{ service_BW }} cir-max {{ service_BW }} cbs 250 eir 0 eir-max {{ service_BW }} ebs 500 color-mode aware coupling-flag true
regulator-set add pcp N_ALX/NCS/LE-{{ 100000 + item|int }}
regulator-set edit pcp N_ALX/NCS/LE-{{ 100000 + item|int }} input-list 3 regulator enable N3_ALX/NCS/LE-{{ 100000 + item|int }}
regulator-set edit pcp N_ALX/NCS/LE-{{ 100000 + item|int }} input-list 0 regulator enable N0_ALX/NCS/LE-{{ 100000 + item|int }}
regulator-set edit pcp N_ALX/NCS/LE-{{ 100000 + item|int }} input-list 7 regulator enable N4_ALX/NCS/LE-{{ 100000 + item|int }}
regulator-set edit pcp N_ALX/NCS/LE-{{ 100000 + item|int }} input-list 4 regulator enable N4_ALX/NCS/LE-{{ 100000 + item|int }}
regulator-set edit pcp N_ALX/NCS/LE-{{ 100000 + item|int }} input-list 5 regulator enable N5_ALX/NCS/LE-{{ 100000 + item|int }}
regulator-set edit pcp N_ALX/NCS/LE-{{ 100000 + item|int }} input-list 2 regulator enable N2_ALX/NCS/LE-{{ 100000 + item|int }}
regulator-set edit pcp N_ALX/NCS/LE-{{ 100000 + item|int }} input-list 1 regulator enable N1_ALX/NCS/LE-{{ 100000 + item|int }}
{# NNI policy required to pop the VLAN coming from Cisco Side -#}
{% if port_type == 'P-type' or port_type == 'F-type' or port_type == 'PL-type'  -%}
	vid-set add N15_ALX/NCS/LE-{{ 100000 + item|int }} policy-list Traffic-{{ Nni_port }} vlan-type {{colt_vlan_ethType}} vid-list {{ item + 100 }}
	policy edit Traffic-{{ Nni_port }} {{index['meg'] + 10 }} state enable action permit pre-marking green filter vlan N15_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation pop cos-mapping map map1-state enable map1-type pcp-vlan map1-cos-profile Colt-PCPMapping map1-regulator-set enable N_ALX/NCS/LE-{{ 100000 + item|int }} out-port PORT-{{ Uni_port }}
{% elif port_type == 'X-type' or port_type == 'Y-type' -%}
    vid-set add N15_ALX/NCS/LE-{{ 100000 + item|int }} policy-list Traffic-{{ Nni_port }} vlan-type {{colt_vlan_ethType}} vid-list {{ item + 100 }}
	cos-profile add pcp ETH-LE-{{ 100000 + item|int }}-QoS-PCP-Egr-Mark
	cos-profile edit pcp ETH-LE-{{ 100000 + item|int }}-QoS-PCP-Egr-Mark input-list 7 green-out 0 yellow-out 0
	cos-profile edit pcp ETH-LE-{{ 100000 + item|int }}-QoS-PCP-Egr-Mark input-list 1 green-out 6 yellow-out 6
	cos-profile edit pcp ETH-LE-{{ 100000 + item|int }}-QoS-PCP-Egr-Mark input-list 3 green-out 5 yellow-out 5
	cos-profile edit pcp ETH-LE-{{ 100000 + item|int }}-QoS-PCP-Egr-Mark input-list 1 green-out 0 yellow-out 0
	cos-profile edit pcp ETH-LE-{{ 100000 + item|int }}-QoS-PCP-Egr-Mark input-list 2 green-out 6 yellow-out 6
	cos-profile edit pcp ETH-LE-{{ 100000 + item|int }}-QoS-PCP-Egr-Mark input-list 3 green-out 5 yellow-out 5
    policy edit Traffic-{{ Nni_port }} {{index['meg'] + 10 }} state enable action permit pre-marking green filter vlan N15_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{customer_vlan_ethtype}} evc-vlan-id {{ item }} cos-mapping map map1-state enable map1-type pcp-vlan map1-cos-profile ETH-LE-{{ 100000 + item|int }}-QoS-PCP-Egr-Mark map1-regulator-set enable N_ALX/NCS/LE-{{ 100000 + item|int }} green-cfi 0 green-pcp 0 yellow-cfi 0 yellow-pcp 0 out-port PORT-{{ Uni_port }}
{% else -%}
{% endif -%}
{# UNI policy to Filter the traffic from UNI port and push vlan for P,PL,F Type end Point, replace for X type End point, Outer replace for Y type End Point.-#}
{% if port_type == 'P-type'or port_type == 'PL-type'-%}
		filter add l2 U15_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 ethertype 2048 enable ip-cos-mode dscp-mode dscp-oper range dscp {{ Pre_DSCP_START }} enable dscp-last {{Pre_DSCP_LAST}} enable 
		filter add l2 U16_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 ethertype 2048 enable ip-cos-mode dscp-mode dscp-oper range dscp {{B1_DSCP_START}} enable dscp-last {{B1_DSCP_LAST }} enable 
		filter add l2 U17_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 ethertype 2048 enable ip-cos-mode dscp-mode dscp-oper range dscp {{B2_DSCP_START }} enable dscp-last {{B2_DSCP_LAST }} enable
		filter add l2 U18_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 ethertype 2048 enable ip-cos-mode dscp-mode dscp-oper range dscp {{B3_DSCP_START }} enable dscp-last {{ B3_DSCP_LAST }} enable
		filter add l2 U19_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 
		filter add ipv4 U20_ALX/NCS/LE-{{ 100000 + item|int }} ip-cos-mode dscp-mode dscp-oper range dscp {{ Pre_DSCP_START }} enable dscp-last {{Pre_DSCP_LAST}} enable 
		filter add ipv4 U21_ALX/NCS/LE-{{ 100000 + item|int }} ip-cos-mode dscp-mode dscp-oper range dscp {{B1_DSCP_START}} enable dscp-last {{B1_DSCP_LAST }} enable 
		filter add ipv4 U22_ALX/NCS/LE-{{ 100000 + item|int }} ip-cos-mode dscp-mode dscp-oper range dscp {{B2_DSCP_START }} enable dscp-last {{B2_DSCP_LAST }} enable       
		filter add ipv4 U23_ALX/NCS/LE-{{ 100000 + item|int }} ip-cos-mode dscp-mode dscp-oper range dscp {{B3_DSCP_START }} enable dscp-last {{ B3_DSCP_LAST }} enable
		vid-set add U24_ALX/NCS/LE-{{ 100000 + item|int }} policy-list Traffic-{{ Uni_port }} vlan-type c-vlan vid-list {{ item }}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 10 }} state enable action permit pre-marking green regulator enable U35_TKY/TKY/LE-500409_BM filter l2 U15_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{Pre_green_pcp}} yellow-cfi 0 yellow-pcp {{Pre_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 11 }} state enable action permit pre-marking green regulator enable U35_TKY/TKY/LE-500409_BM filter l2 U16_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B1_green_pcp}} yellow-cfi 0 yellow-pcp {{B1_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 12 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U17_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B2_green_pcp}} yellow-cfi 0 yellow-pcp {{B2_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 13 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U18_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B3_green_pcp}} yellow-cfi 0 yellow-pcp {{B3_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 14 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U19_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{STD_green_pcp}} yellow-cfi 0 yellow-pcp {{STD_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 15 }} state enable action permit pre-marking green regulator enable U5_ALX/NCS/LE-{{ 100000 + item|int }} filter ipv4 U20_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{Pre_green_pcp}} yellow-cfi 0 yellow-pcp {{Pre_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 16 }} state enable action permit pre-marking green regulator enable U3_ALX/NCS/LE-{{ 100000 + item|int }} filter ipv4 U21_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B1_green_pcp}} yellow-cfi 0 yellow-pcp {{B1_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 17 }} state enable action permit pre-marking green regulator enable U2_ALX/NCS/LE-{{ 100000 + item|int }} filter ipv4 U22_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B2_green_pcp}} yellow-cfi 0 yellow-pcp {{B2_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 18 }} state enable action permit pre-marking green regulator enable U1_ALX/NCS/LE-{{ 100000 + item|int }} filter ipv4 U23_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B3_green_pcp}} yellow-cfi 0 yellow-pcp {{B3_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 19 }} state enable action permit pre-marking green regulator enable U4_ALX/NCS/LE-{{ 100000 + item|int }} filter vlan U24_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{STD_green_pcp}} yellow-cfi 0 yellow-pcp {{STD_yellow_pcp}} out-port {{out_port}}
{% elif port_type == 'F-type'-%}
	{% if classify == 'PCP' -%}
		filter add l2 U15_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 vlan1-priority {{Pre_PCP_START}} enable vlan1-priority-last {{Pre_PCP_LAST}} enable vlan1-priority-oper range vlan1-id {{ item }} enable vlan1-ethertype c-vlan
		filter add l2 U16_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 vlan1-priority {{B1_PCP }} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U17_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 vlan1-priority {{B2_PCP}} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U18_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 vlan1-priority {{B3_PCP}} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U19_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U20_ALX/NCS/LE-{{ 100000 + item|int }} vlan1-priority {{Pre_PCP_START}} enable vlan1-priority-last {{Pre_PCP_LAST}} enable vlan1-priority-oper range vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U21_ALX/NCS/LE-{{ 100000 + item|int }} vlan1-priority {{B1_PCP }} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U22_ALX/NCS/LE-{{ 100000 + item|int }} vlan1-priority {{B2_PCP}} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U23_ALX/NCS/LE-{{ 100000 + item|int }} vlan1-priority {{B3_PCP}} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		vid-set add U24_ALX/NCS/LE-{{ 100000 + item|int }} policy-list Traffic-{{ Uni_port }} vlan-type {{customer_vlan_ethtype}} vid-list {{ item }}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 10 }} state enable action permit pre-marking green regulator enable U35_TKY/TKY/LE-500409_BM filter l2 U15_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{Pre_green_pcp}} yellow-cfi 0 yellow-pcp {{Pre_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 11 }} state enable action permit pre-marking green regulator enable U35_TKY/TKY/LE-500409_BM filter l2 U16_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B1_green_pcp}} yellow-cfi 0 yellow-pcp {{B1_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 12 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U17_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B2_green_pcp}} yellow-cfi 0 yellow-pcp {{B2_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 13 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U18_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B3_green_pcp}} yellow-cfi 0 yellow-pcp {{B3_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 14 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U19_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{STD_green_pcp}} yellow-cfi 0 yellow-pcp {{STD_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 15 }} state enable action permit pre-marking green regulator enable U5_ALX/NCS/LE-{{ 100000 + item|int }} filter l2 U20_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{Pre_green_pcp}} yellow-cfi 0 yellow-pcp {{Pre_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 16 }} state enable action permit pre-marking green regulator enable U3_ALX/NCS/LE-{{ 100000 + item|int }} filter l2 U21_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B1_green_pcp}} yellow-cfi 0 yellow-pcp {{B1_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 17 }} state enable action permit pre-marking green regulator enable U2_ALX/NCS/LE-{{ 100000 + item|int }} filter l2 U22_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B2_green_pcp}} yellow-cfi 0 yellow-pcp {{B2_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 18 }} state enable action permit pre-marking green regulator enable U1_ALX/NCS/LE-{{ 100000 + item|int }} filter l2 U23_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B3_green_pcp}} yellow-cfi 0 yellow-pcp {{B3_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 19 }} state enable action permit pre-marking green regulator enable U4_ALX/NCS/LE-{{ 100000 + item|int }} filter vlan U24_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{STD_green_pcp}} yellow-cfi 0 yellow-pcp {{STD_yellow_pcp}} out-port {{out_port}}
	{% else -%}
		filter add l2 U15_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 ethertype 2048 enable ip-cos-mode dscp-mode dscp-oper range dscp {{ Pre_DSCP_START }} enable dscp-last {{Pre_DSCP_LAST}} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U16_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 ethertype 2048 enable ip-cos-mode dscp-mode dscp-oper range dscp {{B1_DSCP_START}} enable dscp-last {{B1_DSCP_LAST }} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U17_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 ethertype 2048 enable ip-cos-mode dscp-mode dscp-oper range dscp {{B2_DSCP_START }} enable dscp-last {{B2_DSCP_LAST }} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U18_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 ethertype 2048 enable ip-cos-mode dscp-mode dscp-oper range dscp {{B3_DSCP_START }} enable dscp-last {{ B3_DSCP_LAST }} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U19_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add ipv4 U20_ALX/NCS/LE-{{ 100000 + item|int }} ip-cos-mode dscp-mode dscp-oper range dscp {{ Pre_DSCP_START }} enable dscp-last {{Pre_DSCP_LAST}} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add ipv4 U21_ALX/NCS/LE-{{ 100000 + item|int }} ip-cos-mode dscp-mode dscp-oper range dscp {{B1_DSCP_START}} enable dscp-last {{B1_DSCP_LAST }} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add ipv4 U22_ALX/NCS/LE-{{ 100000 + item|int }} ip-cos-mode dscp-mode dscp-oper range dscp {{B2_DSCP_START }} enable dscp-last {{B2_DSCP_LAST }} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}         
		filter add ipv4 U23_ALX/NCS/LE-{{ 100000 + item|int }} ip-cos-mode dscp-mode dscp-oper range dscp {{B3_DSCP_START }} enable dscp-last {{ B3_DSCP_LAST }} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		vid-set add U24_ALX/NCS/LE-{{ 100000 + item|int }} policy-list Traffic-{{ Uni_port }} vlan-type c-vlan vid-list {{ item }}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 10 }} state enable action permit pre-marking green regulator enable U35_TKY/TKY/LE-500409_BM filter l2 U15_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{Pre_green_pcp}} yellow-cfi 0 yellow-pcp {{Pre_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 11 }} state enable action permit pre-marking green regulator enable U35_TKY/TKY/LE-500409_BM filter l2 U16_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B1_green_pcp}} yellow-cfi 0 yellow-pcp {{B1_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 12 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U17_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B2_green_pcp}} yellow-cfi 0 yellow-pcp {{B2_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 13 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U18_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B3_green_pcp}} yellow-cfi 0 yellow-pcp {{B3_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 14 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U19_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{STD_green_pcp}} yellow-cfi 0 yellow-pcp {{STD_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 15 }} state enable action permit pre-marking green regulator enable U5_ALX/NCS/LE-{{ 100000 + item|int }} filter ipv4 U20_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{Pre_green_pcp}} yellow-cfi 0 yellow-pcp {{Pre_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 16 }} state enable action permit pre-marking green regulator enable U3_ALX/NCS/LE-{{ 100000 + item|int }} filter ipv4 U21_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B1_green_pcp}} yellow-cfi 0 yellow-pcp {{B1_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 17 }} state enable action permit pre-marking green regulator enable U2_ALX/NCS/LE-{{ 100000 + item|int }} filter ipv4 U22_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B2_green_pcp}} yellow-cfi 0 yellow-pcp {{B2_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 18 }} state enable action permit pre-marking green regulator enable U1_ALX/NCS/LE-{{ 100000 + item|int }} filter ipv4 U23_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B3_green_pcp}} yellow-cfi 0 yellow-pcp {{B3_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 19 }} state enable action permit pre-marking green regulator enable U4_ALX/NCS/LE-{{ 100000 + item|int }} filter vlan U24_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation push evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{STD_green_pcp}} yellow-cfi 0 yellow-pcp {{STD_yellow_pcp}} out-port {{out_port}}
	{% endif -%}
{% elif port_type == 'X-type'-%}
	{% if classify == 'PCP' -%}
		filter add l2 U15_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 vlan1-priority {{Pre_PCP_START}} enable vlan1-priority-last {{Pre_PCP_LAST}} enable vlan1-priority-oper range vlan1-id {{ item }} enable vlan1-ethertype c-vlan
		filter add l2 U16_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 vlan1-priority {{B1_PCP }} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U17_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 vlan1-priority {{B2_PCP}} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U18_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 vlan1-priority {{B3_PCP}} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U19_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U20_ALX/NCS/LE-{{ 100000 + item|int }} vlan1-priority {{Pre_PCP_START}} enable vlan1-priority-last {{Pre_PCP_LAST}} enable vlan1-priority-oper range vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U21_ALX/NCS/LE-{{ 100000 + item|int }} vlan1-priority {{B1_PCP }} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U22_ALX/NCS/LE-{{ 100000 + item|int }} vlan1-priority {{B2_PCP}} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U23_ALX/NCS/LE-{{ 100000 + item|int }} vlan1-priority {{B3_PCP}} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		vid-set add U24_ALX/NCS/LE-{{ 100000 + item|int }} policy-list Traffic-{{ Uni_port }} vlan-type {{customer_vlan_ethtype}} vid-list {{ item }}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 10 }} state enable action permit pre-marking green regulator enable U35_TKY/TKY/LE-500409_BM filter l2 U15_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{Pre_green_pcp}} yellow-cfi 0 yellow-pcp {{Pre_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 11 }} state enable action permit pre-marking green regulator enable U35_TKY/TKY/LE-500409_BM filter l2 U16_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B1_green_pcp}} yellow-cfi 0 yellow-pcp {{B1_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 12 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U17_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B2_green_pcp}} yellow-cfi 0 yellow-pcp {{B2_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 13 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U18_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B3_green_pcp}} yellow-cfi 0 yellow-pcp {{B3_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 14 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U19_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{STD_green_pcp}} yellow-cfi 0 yellow-pcp {{STD_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 15 }} state enable action permit pre-marking green regulator enable U5_ALX/NCS/LE-{{ 100000 + item|int }} filter l2 U20_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{Pre_green_pcp}} yellow-cfi 0 yellow-pcp {{Pre_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 16 }} state enable action permit pre-marking green regulator enable U3_ALX/NCS/LE-{{ 100000 + item|int }} filter l2 U21_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B1_green_pcp}} yellow-cfi 0 yellow-pcp {{B1_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 17 }} state enable action permit pre-marking green regulator enable U2_ALX/NCS/LE-{{ 100000 + item|int }} filter l2 U22_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B2_green_pcp}} yellow-cfi 0 yellow-pcp {{B2_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 18 }} state enable action permit pre-marking green regulator enable U1_ALX/NCS/LE-{{ 100000 + item|int }} filter l2 U23_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B3_green_pcp}} yellow-cfi 0 yellow-pcp {{B3_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 19 }} state enable action permit pre-marking green regulator enable U4_ALX/NCS/LE-{{ 100000 + item|int }} filter vlan U24_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{STD_green_pcp}} yellow-cfi 0 yellow-pcp {{STD_yellow_pcp}} out-port {{out_port}}
	{% else -%}
		filter add l2 U15_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 ethertype 2048 enable ip-cos-mode dscp-mode dscp-oper range dscp {{ Pre_DSCP_START }} enable dscp-last {{Pre_DSCP_LAST}} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U16_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 ethertype 2048 enable ip-cos-mode dscp-mode dscp-oper range dscp {{B1_DSCP_START}} enable dscp-last {{B1_DSCP_LAST }} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U17_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 ethertype 2048 enable ip-cos-mode dscp-mode dscp-oper range dscp {{B2_DSCP_START }} enable dscp-last {{B2_DSCP_LAST }} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U18_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 ethertype 2048 enable ip-cos-mode dscp-mode dscp-oper range dscp {{B3_DSCP_START }} enable dscp-last {{ B3_DSCP_LAST }} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add l2 U19_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add ipv4 U20_ALX/NCS/LE-{{ 100000 + item|int }} ip-cos-mode dscp-mode dscp-oper range dscp {{ Pre_DSCP_START }} enable dscp-last {{Pre_DSCP_LAST}} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add ipv4 U21_ALX/NCS/LE-{{ 100000 + item|int }} ip-cos-mode dscp-mode dscp-oper range dscp {{B1_DSCP_START}} enable dscp-last {{B1_DSCP_LAST }} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		filter add ipv4 U22_ALX/NCS/LE-{{ 100000 + item|int }} ip-cos-mode dscp-mode dscp-oper range dscp {{B2_DSCP_START }} enable dscp-last {{B2_DSCP_LAST }} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}         
		filter add ipv4 U23_ALX/NCS/LE-{{ 100000 + item|int }} ip-cos-mode dscp-mode dscp-oper range dscp {{B3_DSCP_START }} enable dscp-last {{ B3_DSCP_LAST }} enable vlan1-id {{ item }} enable vlan1-ethertype {{customer_vlan_ethtype}}
		vid-set add U24_ALX/NCS/LE-{{ 100000 + item|int }} policy-list Traffic-{{ Uni_port }} vlan-type c-vlan vid-list {{ item }}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 10 }} state enable action permit pre-marking green regulator enable U35_TKY/TKY/LE-500409_BM filter l2 U15_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{Pre_green_pcp}} yellow-cfi 0 yellow-pcp {{Pre_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 11 }} state enable action permit pre-marking green regulator enable U35_TKY/TKY/LE-500409_BM filter l2 U16_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B1_green_pcp}} yellow-cfi 0 yellow-pcp {{B1_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 12 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U17_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B2_green_pcp}} yellow-cfi 0 yellow-pcp {{B2_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 13 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U18_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B3_green_pcp}} yellow-cfi 0 yellow-pcp {{B3_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 14 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U19_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{STD_green_pcp}} yellow-cfi 0 yellow-pcp {{STD_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 15 }} state enable action permit pre-marking green regulator enable U5_ALX/NCS/LE-{{ 100000 + item|int }} filter ipv4 U20_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{Pre_green_pcp}} yellow-cfi 0 yellow-pcp {{Pre_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 16 }} state enable action permit pre-marking green regulator enable U3_ALX/NCS/LE-{{ 100000 + item|int }} filter ipv4 U21_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B1_green_pcp}} yellow-cfi 0 yellow-pcp {{B1_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 17 }} state enable action permit pre-marking green regulator enable U2_ALX/NCS/LE-{{ 100000 + item|int }} filter ipv4 U22_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B2_green_pcp}} yellow-cfi 0 yellow-pcp {{B2_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 18 }} state enable action permit pre-marking green regulator enable U1_ALX/NCS/LE-{{ 100000 + item|int }} filter ipv4 U23_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B3_green_pcp}} yellow-cfi 0 yellow-pcp {{B3_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 19 }} state enable action permit pre-marking green regulator enable U4_ALX/NCS/LE-{{ 100000 + item|int }} filter vlan U24_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{STD_green_pcp}} yellow-cfi 0 yellow-pcp {{STD_yellow_pcp}} out-port {{out_port}}
	{% endif -%}
{% elif port_type == 'Y-type'-%}
	{% if classify == 'PCP' -%}
		filter add l2 U15_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 vlan1-priority {{Pre_PCP_START}} enable vlan1-priority-last {{Pre_PCP_LAST}} enable vlan1-priority-oper range vlan1-ethertype {{colt_vlan_ethType}} vlan1-id {{item + 100 }} enable vlan2-ethertype {{customer_vlan_ethtype}} vlan2-id {{item }} enable
		filter add l2 U16_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 vlan1-priority {{B1_PCP }} enable vlan1-ethertype {{colt_vlan_ethType}} vlan1-id {{item + 100 }} enable vlan2-ethertype {{customer_vlan_ethtype}} vlan2-id {{item }} enable
		filter add l2 U17_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 vlan1-priority {{B2_PCP}} enable vlan1-ethertype {{colt_vlan_ethType}} vlan1-id {{item + 100 }} enable vlan2-ethertype {{customer_vlan_ethtype}} vlan2-id {{item }} enable
		filter add l2 U18_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 vlan1-priority {{B3_PCP}} enable vlan1-ethertype {{colt_vlan_ethType}} vlan1-id {{item + 100 }} enable vlan2-ethertype {{customer_vlan_ethtype}} vlan2-id {{item }} enable
		filter add l2 U19_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 vlan1-ethertype {{colt_vlan_ethType}} vlan1-id {{item + 100 }} enable vlan2-ethertype {{customer_vlan_ethtype}} vlan2-id {{item }} enable
		filter add l2 U20_ALX/NCS/LE-{{ 100000 + item|int }} vlan1-priority {{Pre_PCP_START}} enable vlan1-priority-last {{Pre_PCP_LAST}} enable vlan1-priority-oper range vlan1-ethertype {{colt_vlan_ethType}} vlan1-id {{item + 100 }} enable vlan2-ethertype {{customer_vlan_ethtype}} vlan2-id {{item }} enable
		filter add l2 U21_ALX/NCS/LE-{{ 100000 + item|int }} vlan1-priority {{B1_PCP }} enable vlan1-ethertype {{colt_vlan_ethType}} vlan1-id {{item + 100 }} enable vlan2-ethertype {{customer_vlan_ethtype}} vlan2-id {{item }} enable
		filter add l2 U22_ALX/NCS/LE-{{ 100000 + item|int }} vlan1-priority {{B2_PCP}} enable vlan1-ethertype {{colt_vlan_ethType}} vlan1-id {{item + 100 }} enable vlan2-ethertype {{customer_vlan_ethtype}} vlan2-id {{item }} enable
		filter add l2 U23_ALX/NCS/LE-{{ 100000 + item|int }} vlan1-priority {{B3_PCP}} enable vlan1-ethertype {{colt_vlan_ethType}} vlan1-id {{item + 100 }} enable vlan2-ethertype {{customer_vlan_ethtype}} vlan2-id {{item }} enable
		vid-set add U24_ALX/NCS/LE-{{ 100000 + item|int }} policy-list Traffic-{{ Uni_port }} vlan1-ethertype {{colt_vlan_ethType}} vlan1-id {{item + 100 }} enable vlan2-ethertype {{customer_vlan_ethtype}} vlan2-id {{item }} enable
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 10 }} state enable action permit pre-marking green regulator enable U35_TKY/TKY/LE-500409_BM filter l2 U15_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{Pre_green_pcp}} yellow-cfi 0 yellow-pcp {{Pre_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 11 }} state enable action permit pre-marking green regulator enable U35_TKY/TKY/LE-500409_BM filter l2 U16_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B1_green_pcp}} yellow-cfi 0 yellow-pcp {{B1_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 12 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U17_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B2_green_pcp}} yellow-cfi 0 yellow-pcp {{B2_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 13 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U18_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B3_green_pcp}} yellow-cfi 0 yellow-pcp {{B3_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 14 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U19_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{STD_green_pcp}} yellow-cfi 0 yellow-pcp {{STD_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 15 }} state enable action permit pre-marking green regulator enable U5_ALX/NCS/LE-{{ 100000 + item|int }} filter l2 U20_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{Pre_green_pcp}} yellow-cfi 0 yellow-pcp {{Pre_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 16 }} state enable action permit pre-marking green regulator enable U3_ALX/NCS/LE-{{ 100000 + item|int }} filter l2 U21_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B1_green_pcp}} yellow-cfi 0 yellow-pcp {{B1_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 17 }} state enable action permit pre-marking green regulator enable U2_ALX/NCS/LE-{{ 100000 + item|int }} filter l2 U22_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B2_green_pcp}} yellow-cfi 0 yellow-pcp {{B2_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 18 }} state enable action permit pre-marking green regulator enable U1_ALX/NCS/LE-{{ 100000 + item|int }} filter l2 U23_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B3_green_pcp}} yellow-cfi 0 yellow-pcp {{B3_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 19 }} state enable action permit pre-marking green regulator enable U4_ALX/NCS/LE-{{ 100000 + item|int }} filter vlan U24_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{STD_green_pcp}} yellow-cfi 0 yellow-pcp {{STD_yellow_pcp}} out-port {{out_port}}
	{% else -%}
		filter add l2 U15_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 ethertype 2048 enable ip-cos-mode dscp-mode dscp-oper range dscp {{ Pre_DSCP_START }} enable dscp-last {{Pre_DSCP_LAST}} enable vlan1-ethertype {{colt_vlan_ethType}} vlan1-id {{item + 100 }} enable vlan2-ethertype {{customer_vlan_ethtype}} vlan2-id {{item }} enable
		filter add l2 U16_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 ethertype 2048 enable ip-cos-mode dscp-mode dscp-oper range dscp {{B1_DSCP_START}} enable dscp-last {{B1_DSCP_LAST }} enable vlan1-ethertype {{colt_vlan_ethType}} vlan1-id {{item + 100 }} enable vlan2-ethertype {{customer_vlan_ethtype}} vlan2-id {{item }} enable
		filter add l2 U17_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 ethertype 2048 enable ip-cos-mode dscp-mode dscp-oper range dscp {{B2_DSCP_START }} enable dscp-last {{B2_DSCP_LAST }} enable vlan1-ethertype {{colt_vlan_ethType}} vlan1-id {{item + 100 }} enable vlan2-ethertype {{customer_vlan_ethtype}} vlan2-id {{item }} enable
		filter add l2 U18_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 ethertype 2048 enable ip-cos-mode dscp-mode dscp-oper range dscp {{B3_DSCP_START }} enable dscp-last {{ B3_DSCP_LAST }} enable vlan1-ethertype {{colt_vlan_ethType}} vlan1-id {{item + 100 }} enable vlan2-ethertype {{customer_vlan_ethtype}} vlan2-id {{item }} enable
		filter add l2 U19_ALX/NCS/LE-{{ 100000 + item|int }}_BM dst-mac-addr 01:00:00:00:00:00 enable dst-mac-mask 01:00:00:00:00:00 vlan1-ethertype {{colt_vlan_ethType}} vlan1-id {{item + 100 }} enable vlan2-ethertype {{customer_vlan_ethtype}} vlan2-id {{item }} enable
		filter add ipv4 U20_ALX/NCS/LE-{{ 100000 + item|int }} ip-cos-mode dscp-mode dscp-oper range dscp {{ Pre_DSCP_START }} enable dscp-last {{Pre_DSCP_LAST}} enable vlan1-ethertype {{colt_vlan_ethType}} vlan1-id {{item + 100 }} enable vlan2-ethertype {{customer_vlan_ethtype}} vlan2-id {{item }} enable
		filter add ipv4 U21_ALX/NCS/LE-{{ 100000 + item|int }} ip-cos-mode dscp-mode dscp-oper range dscp {{B1_DSCP_START}} enable dscp-last {{B1_DSCP_LAST }} enable vlan1-ethertype {{colt_vlan_ethType}} vlan1-id {{item + 100 }} enable vlan2-ethertype {{customer_vlan_ethtype}} vlan2-id {{item }} enable
		filter add ipv4 U22_ALX/NCS/LE-{{ 100000 + item|int }} ip-cos-mode dscp-mode dscp-oper range dscp {{B2_DSCP_START }} enable dscp-last {{B2_DSCP_LAST }} enable vlan1-ethertype {{colt_vlan_ethType}} vlan1-id {{item + 100 }} enable vlan2-ethertype {{customer_vlan_ethtype}} vlan2-id {{item }} enable         
		filter add ipv4 U23_ALX/NCS/LE-{{ 100000 + item|int }} ip-cos-mode dscp-mode dscp-oper range dscp {{B3_DSCP_START }} enable dscp-last {{ B3_DSCP_LAST }} enable vlan1-ethertype {{colt_vlan_ethType}} vlan1-id {{item + 100 }} enable vlan2-ethertype {{customer_vlan_ethtype}} vlan2-id {{item }} enable
		vid-set add U24_ALX/NCS/LE-{{ 100000 + item|int }} policy-list Traffic-{{ Uni_port }} vlan-type c-vlan vid-list {{ item }}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 10 }} state enable action permit pre-marking green regulator enable U35_TKY/TKY/LE-500409_BM filter l2 U15_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{Pre_green_pcp}} yellow-cfi 0 yellow-pcp {{Pre_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 11 }} state enable action permit pre-marking green regulator enable U35_TKY/TKY/LE-500409_BM filter l2 U16_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B1_green_pcp}} yellow-cfi 0 yellow-pcp {{B1_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 12 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U17_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B2_green_pcp}} yellow-cfi 0 yellow-pcp {{B2_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 13 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U18_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B3_green_pcp}} yellow-cfi 0 yellow-pcp {{B3_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 14 }} state enable action permit pre-marking green regulator enable U412_TKY/TKY/LE-500409_BM filter l2 U19_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{STD_green_pcp}} yellow-cfi 0 yellow-pcp {{STD_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 15 }} state enable action permit pre-marking green regulator enable U5_ALX/NCS/LE-{{ 100000 + item|int }} filter ipv4 U20_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{Pre_green_pcp}} yellow-cfi 0 yellow-pcp {{Pre_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 16 }} state enable action permit pre-marking green regulator enable U3_ALX/NCS/LE-{{ 100000 + item|int }} filter ipv4 U21_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B1_green_pcp}} yellow-cfi 0 yellow-pcp {{B1_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 17 }} state enable action permit pre-marking green regulator enable U2_ALX/NCS/LE-{{ 100000 + item|int }} filter ipv4 U22_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B2_green_pcp}} yellow-cfi 0 yellow-pcp {{B2_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 18 }} state enable action permit pre-marking green regulator enable U1_ALX/NCS/LE-{{ 100000 + item|int }} filter ipv4 U23_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{B3_green_pcp}} yellow-cfi 0 yellow-pcp {{B3_yellow_pcp}} out-port {{out_port}}
		policy edit Traffic-{{ Uni_port }} {{index['meg'] + 19 }} state enable action permit pre-marking green regulator enable U4_ALX/NCS/LE-{{ 100000 + item|int }} filter vlan U24_ALX/NCS/LE-{{ 100000 + item|int }} evc-encapsulation replace evc-ethertype {{colt_vlan_ethType}} evc-vlan-id {{ item + 100 }} cos-mapping direct green-cfi 0 green-pcp {{STD_green_pcp}} yellow-cfi 0 yellow-pcp {{STD_yellow_pcp}} out-port {{out_port}}
{% else -%}
{% endif -%}
{# MEG configuration for all end point Combincation ( F and Y needs internal interface creation) -#}
{% if port_type == 'P-type' or port_type == 'X-type' or port_type == 'PL-type' -%}
    cfm add meg name LEXXX-{{ 100000 + item|int }} name-format icc-based ccm-interval 1000 index {{index['meg']}} mhf-creation none sndr-id-perm none  level {{MEG_level}} rmep-auto-discovery disable mepid-list {{Local_MEP}},{{Remote_MEP}} vid-list {{ item + 100 }} vlan-type {{colt_vlan_ethType}}
    cfm add mep name LEXXX-{{ 100000 + item|int }}|{{MEG_level}}|{{Remote_MEP}}  active yes index {{index['mep']}} direction down cci-enable yes ccm-seq-number enable meg-idx {{index['meg']}} lowest-alarm-pri macRemErrXconAis mep-id {{Local_MEP}} port {{out_port}} priority {{green_pcp}} pvid {{ item + 100}}
    cfm add dmm name ALX/NCS/LE-{{ 100000 + item|int }}|{{MEG_level}}|{{Local_MEP}}|{{Remote_MEP}} index {{index['dmm']}} enable yes  interval 1000 mep-idx {{index['mep']}} ow-ad-threshold 125 ow-adv-threshold 4 ow-delay enable ow-delay-threshold 4 ow-dv enable ow-dv-threshold 10  ow-max-delay 125 ow-max-dv 50  priority {{green_pcp}} reference-period 15  rmep-id {{Remote_MEP}} tw-ad-threshold 250 tw-adv-threshold 10 tw-delay enable tw-delay-threshold 4 tw-dv enable tw-dv-threshold 4  tw-max-delay 250 tw-max-dv 10
    cfm add slm name ALX/NCS/LE-{{ 100000 + item|int }}|{{MEG_level}}|{{Local_MEP}}|{{Remote_MEP}} index {{index['slm']}} far-end-threshold 100000  interval 100 mep-idx {{index['mep']}} near-end-threshold 100000 priority {{green_pcp}} reference-period 15  rmep-id {{Remote_MEP}} state enable
    sa add service ALX/NCS/LE-{{ 100000 + item|int }}|{{MEG_level}}|{{Local_MEP}}|{{Remote_MEP}} window-size 5 hli-window-size 3 time-interval 20 reporting-period 5
    sa add metric ALX/NCS/LE-{{ 100000 + item|int }}|{{MEG_level}}|{{Local_MEP}}|{{Remote_MEP}} ALX/NCS/LE-{{ 100000 + item|int }}|{{MEG_level}}|{{Local_MEP}}|{{Remote_MEP}}F slm-far-end-plr ALX/NCS/LE-{{ 100000 + item|int }}|{{MEG_level}}|{{Local_MEP}}|{{Remote_MEP}} threshold 100000
    sa add metric ALX/NCS/LE-{{ 100000 + item|int }}|{{MEG_level}}|{{Local_MEP}}|{{Remote_MEP}} ALX/NCS/LE-{{ 100000 + item|int }}|{{MEG_level}}|{{Local_MEP}}|{{Remote_MEP}}N slm-near-end-plr ALX/NCS/LE-{{ 100000 + item|int }}|{{MEG_level}}|{{Local_MEP}}|{{Remote_MEP}} threshold 100000
    sa edit service ALX/NCS/LE-{{ 100000 + item|int }}|{{MEG_level}}|{{Local_MEP}}|{{Remote_MEP}} state IS
    {% if port_type == 'PL-type' -%}
    cfm edit mep LEXXX-{{ 100000 + item|int }}|{{MEG_level}}|{{Remote_MEP}} csf-enable yes interface-status-tlv disable fault-propagation enable fng-alarm-time 2500 fng-reset-time 10000 fp-port PORT-{{ Uni_port }}
    fault-propagation edit PORT-{{ Uni_port }} state enable mode evc fp-port {{out_port}}
    {% else -%}
    {% endif -%}
{% elif port_type == 'F-type' or port_type == 'Y-type' -%}
    interface add {{colt_vlan_ethType}}-{{item + 100 }} type vlan port {{out_port}} vlan1-ethertype {{colt_vlan_ethType}} vlan1-id {{item + 100 }} vlan1-priority {{green_pcp}}
    cfm assign interface {{colt_vlan_ethType}}-{{item + 100 }}
    cfm add meg name LEXXX-{{ 100000 + item|int }} name-format icc-based ccm-interval 1000 index {{index['meg']}} mhf-creation none sndr-id-perm none  level {{MEG_level}} rmep-auto-discovery disable mepid-list {{Local_MEP}},{{Remote_MEP}} vid-list {{ item }} vlan-type {{customer_vlan_ethtype}}
    cfm add mep name LEXXX-{{ 100000 + item|int }}|{{MEG_level}}|{{Remote_MEP}}  active yes index {{index['mep']}} direction down cci-enable yes ccm-seq-number enable meg-idx {{index['meg']}} lowest-alarm-pri macRemErrXconAis mep-id {{Local_MEP}} port {{colt_vlan_ethType}}-{{item+100}} priority {{green_pcp}} pvid {{ item }}
    cfm add dmm name ALX/NCS/LE-{{ 100000 + item|int }}|{{MEG_level}}|{{Local_MEP}}|{{Remote_MEP}} index {{index['dmm']}} enable yes  interval 1000 mep-idx {{index['mep']}} ow-ad-threshold 125 ow-adv-threshold 4 ow-delay enable ow-delay-threshold 4 ow-dv enable ow-dv-threshold 10  ow-max-delay 125 ow-max-dv 50  priority {{green_pcp}} reference-period 15  rmep-id {{Remote_MEP}} tw-ad-threshold 250 tw-adv-threshold 10 tw-delay enable tw-delay-threshold 4 tw-dv enable tw-dv-threshold 4  tw-max-delay 250 tw-max-dv 10
    cfm add slm name ALX/NCS/LE-{{ 100000 + item|int }}|{{MEG_level}}|{{Local_MEP}}|{{Remote_MEP}} index {{index['slm']}} far-end-threshold 100000  interval 100 mep-idx {{index['mep']}} near-end-threshold 100000 priority {{green_pcp}} reference-period 15  rmep-id {{Remote_MEP}} state enable
    sa add service ALX/NCS/LE-{{ 100000 + item|int }}|{{MEG_level}}|{{Local_MEP}}|{{Remote_MEP}} window-size 5 hli-window-size 3 time-interval 20 reporting-period 5
    sa add metric ALX/NCS/LE-{{ 100000 + item|int }}|{{MEG_level}}|{{Local_MEP}}|{{Remote_MEP}} ALX/NCS/LE-{{ 100000 + item|int }}|{{MEG_level}}|{{Local_MEP}}|{{Remote_MEP}}F slm-far-end-plr ALX/NCS/LE-{{ 100000 + item|int }}|{{MEG_level}}|{{Local_MEP}}|{{Remote_MEP}} threshold 100000
    sa add metric ALX/NCS/LE-{{ 100000 + item|int }}|{{MEG_level}}|{{Local_MEP}}|{{Remote_MEP}} ALX/NCS/LE-{{ 100000 + item|int }}|{{MEG_level}}|{{Local_MEP}}|{{Remote_MEP}}N slm-near-end-plr ALX/NCS/LE-{{ 100000 + item|int }}|{{MEG_level}}|{{Local_MEP}}|{{Remote_MEP}} threshold 100000
    sa edit service ALX/NCS/LE-{{ 100000 + item|int }}|{{MEG_level}}|{{Local_MEP}}|{{Remote_MEP}} state IS
{% else -%}
{% endif -%}