{% if  QOS_type == 'Business3' -%}
{% set TC = 3 -%}
{% set EXP = 1 -%}
{% elif QOS_type == 'Business1' -%}
{% set TC = 5 -%}
{% set EXP = 3 -%}
{% elif QOS_type == 'Business2' -%}
{% set TC = 4 -%}
{% set EXP = 2 -%}
{% elif QOS_type == 'Premium' -%}
{% set TC = 6 -%}
{% set EXP = 5 -%}
{% elif QOS_type == 'Standard' -%}
{% set TC = 2 -%}
{% set EXP = 4 -%}
{% else -%}
{% endif -%}
{% if port_type == 'Y-type'-%}
    interface {{ main_interface }}.{{ item }} l2transport encapsulation dot1ad {{ item + 100 }} dot1q {{ item }}
    interface {{ main_interface }}.{{ item }} l2transport rewrite ingress tag pop 1 symmetric
{% elif port_type == 'P-type' -%}
    interface {{ main_interface }}.{{ item }} l2transport encapsulation default
{% elif port_type == 'PL-type' -%}
    no interface {{ main_interface }}*
    commit
    interface {{ main_interface }} mtu 9186
    {% if Flat_QOS -%}
    interface {{ main_interface }} l2transport service-policy output egr account user-defined 26
    {% else -%}
    {% endif -%}
    interface {{ main_interface }} lldp receive disable
    interface {{ main_interface }} lldp transmit disable
    interface {{ main_interface }} load-interval 30
    interface {{ main_interface }} l2transport
    interface {{ main_interface }} l2transport propagate remote-status
{% elif port_type == 'X-type' -%}
    interface {{ main_interface }}.{{ item }} l2transport encapsulation dot1q {{ item }}
    interface {{ main_interface }}.{{ item }} l2transport rewrite ingress tag pop 1 symmetric
{% else -%}
    interface {{ main_interface }}.{{ item }} l2transport encapsulation dot1q {{ item }}
{% endif -%}
{% if Flat_QOS -%}
    {% if port_type == 'PL-type' -%}
    interface {{ main_interface }} l2transport service-policy input {{service_BW}}-{{QOS_type}}_{{ item }}_DIP
    {% else -%}       
    interface {{ main_interface }}.{{ item }} l2transport service-policy input {{service_BW}}-{{QOS_type}}_{{ item }}_DIP
    {% endif -%}
{% else -%}
    {% if port_type == 'PL-type' -%}
    interface {{ main_interface }} l2transport service-policy input P2P_PARENT_HQOS_INGRESS_{{ item }}_DIP
    interface {{ main_interface }} l2transport service-policy output NNI-QOS-EGRESS-InnerCoS_{{ item }}_DIP
    interface {{ main_interface }} l2transport service-policy output P2P_PARENT_HQOS_EGGRESS_{{ item }}_DIP account user-defined 26    
    {% else -%}     
    interface {{ main_interface }}.{{ item }} l2transport service-policy input P2P_PARENT_HQOS_INGRESS_{{ item }}_DIP
    interface {{ main_interface }}.{{ item }} l2transport service-policy output NNI-QOS-EGRESS-InnerCoS_{{ item }}_DIP
    interface {{ main_interface }}.{{ item }} l2transport service-policy output P2P_PARENT_HQOS_EGGRESS_{{ item }}_DIP account user-defined 26
    {% endif -%}
{% endif -%}
{% if ELAN -%}
    l2vpn bridge group ALX_NCS_LE-{{ 100000 + item|int }} bridge-domain ALX_NCS_LE-{{ 100000 + item|int }}
    l2vpn bridge group ALX_NCS_LE-{{ 100000 + item|int }} bridge-domain ALX_NCS_LE-{{ 100000 + item|int }} mac limit maximum 100
    l2vpn bridge group ALX_NCS_LE-{{ 100000 + item|int }} bridge-domain ALX_NCS_LE-{{ 100000 + item|int }} mac limit action no-flood
    l2vpn bridge group ALX_NCS_LE-{{ 100000 + item|int }} bridge-domain ALX_NCS_LE-{{ 100000 + item|int }} mtu 1500
    l2vpn bridge group ALX_NCS_LE-{{ 100000 + item|int }} bridge-domain ALX_NCS_LE-{{ 100000 + item|int }} evi {{ 50000 + item|int }}
    evpn evi {{ 50000 + item|int }} advertise-mac
    {% if port_type == 'PL-type'-%}
        l2vpn bridge group ALX_NCS_LE-{{ 100000 + item|int }} bridge-domain ALX_NCS_LE-{{ 100000 + item|int }} interface {{ main_interface }}
    {% else -%}
        l2vpn bridge group ALX_NCS_LE-{{ 100000 + item|int }} bridge-domain ALX_NCS_LE-{{ 100000 + item|int }} interface {{ main_interface }}.{{ item }}
    {% endif -%}
{% else -%}
    l2vpn xconnect group ALX_NCS_LE-{{ 100000 + item|int }} p2p ALX_NCS_LE-{{ 100000 + item|int }} neighbor evpn evi {{ 50000 + item|int }} target {{ 50000 + item|int }} source {{ 50000 + item|int }}
    {% if SRTE -%}
    pw-class {{pw_class}}
    {% endif -%}
    evpn evi {{ 50000 + item|int }}
    ethernet cfm domain COLT-{{MEG_level}} level {{MEG_level}} id null service ALX_NCS_LE-{{ 100000 + item|int }} xconnect group ALX_NCS_LE-{{ 100000 + item|int }} p2p ALX_NCS_LE-{{ 100000 + item|int }} id icc-based LE XXX-{{ 100000 + item|int }}
    ethernet cfm domain COLT-{{MEG_level}} level {{MEG_level}} id null service ALX_NCS_LE-{{ 100000 + item|int }} xconnect group ALX_NCS_LE-{{ 100000 + item|int }} p2p ALX_NCS_LE-{{ 100000 + item|int }} id icc-based LE XXX-{{ 100000 + item|int }} continuity-check interval {{ CCM_interval }}
    ethernet cfm domain COLT-{{MEG_level}} level {{MEG_level}} id null service ALX_NCS_LE-{{ 100000 + item|int }} xconnect group ALX_NCS_LE-{{ 100000 + item|int }} p2p ALX_NCS_LE-{{ 100000 + item|int }} id icc-based LE XXX-{{ 100000 + item|int }} mep crosscheck mep-id {{ Remote_MEP }}
    ethernet cfm domain COLT-{{MEG_level}} level {{MEG_level}} id null service ALX_NCS_LE-{{ 100000 + item|int }} xconnect group ALX_NCS_LE-{{ 100000 + item|int }} p2p ALX_NCS_LE-{{ 100000 + item|int }} id icc-based LE XXX-{{ 100000 + item|int }} log continuity-check errors
    ethernet cfm domain COLT-{{MEG_level}} level {{MEG_level}} id null service ALX_NCS_LE-{{ 100000 + item|int }} xconnect group ALX_NCS_LE-{{ 100000 + item|int }} p2p ALX_NCS_LE-{{ 100000 + item|int }} id icc-based LE XXX-{{ 100000 + item|int }} log crosscheck errors
    ethernet cfm domain COLT-{{MEG_level}} level {{MEG_level}} id null service ALX_NCS_LE-{{ 100000 + item|int }} xconnect group ALX_NCS_LE-{{ 100000 + item|int }} p2p ALX_NCS_LE-{{ 100000 + item|int }} id icc-based LE XXX-{{ 100000 + item|int }} log continuity-check mep changes
    {% if port_type == 'PL-type'-%}
        l2vpn xconnect group ALX_NCS_LE-{{ 100000 + item|int }} p2p ALX_NCS_LE-{{ 100000 + item|int }} interface {{ main_interface }}
        interface {{ main_interface }}  ethernet cfm mep domain COLT-{{MEG_level}} service ALX_NCS_LE-{{ 100000 + item|int }} mep-id {{ Local_MEP}} cos {{ EXP }}
        interface {{ main_interface }}  ethernet cfm mep domain COLT-{{MEG_level}} service ALX_NCS_LE-{{ 100000 + item|int }} mep-id {{Local_MEP}} sla operation profile DMM{{ EXP }} target mep-id {{ Remote_MEP }}
        interface {{ main_interface }}  ethernet cfm mep domain COLT-{{MEG_level}} service ALX_NCS_LE-{{ 100000 + item|int }} mep-id {{Local_MEP}} sla operation profile SLM{{ EXP }} target mep-id {{ Remote_MEP }}
    {% else -%}
        l2vpn xconnect group ALX_NCS_LE-{{ 100000 + item|int }} p2p ALX_NCS_LE-{{ 100000 + item|int }} interface {{ main_interface }}.{{ item }}
        interface {{ main_interface }}.{{ item }} l2transport ethernet cfm mep domain COLT-{{MEG_level}} service ALX_NCS_LE-{{ 100000 + item|int }} mep-id {{ Local_MEP}} cos {{ EXP }}
        interface {{ main_interface }}.{{ item }} l2transport ethernet cfm mep domain COLT-{{MEG_level}} service ALX_NCS_LE-{{ 100000 + item|int }} mep-id {{Local_MEP}} sla operation profile DMM{{ EXP }} target mep-id {{ Remote_MEP }}
        interface {{ main_interface }}.{{ item }} l2transport ethernet cfm mep domain COLT-{{MEG_level}} service ALX_NCS_LE-{{ 100000 + item|int }} mep-id {{Local_MEP}} sla operation profile SLM{{ EXP }} target mep-id {{ Remote_MEP }}
    {% endif -%}
{% endif -%}
evpn evi {{ 50000 + item|int }} bgp rd 8220001:{{ 5000 + UID|int + item|int }}
evpn evi {{ 50000 + item|int }} bgp route-target import 8220001:{{ 50000 + item|int }}
evpn evi {{ 50000 + item|int }} bgp route-target export 8220001:{{ 50000 + item|int }}
{% if Flat_QOS -%}
    policy-map {{service_BW}}-{{QOS_type}}_{{ item }}_DIP
    class class-default
    {% if 'Bundle' in main_interface and QOS_type!= 'Standard' -%}
        police rate percent {{  jinja_func.lag_peak_percent_calc(service_BW,Lag_bw) }} burst {{cbs}} kbytes
    {% elif 'Bundle' in main_interface and QOS_type== 'Standard' -%}
        police rate percent {{ jinja_func.lag_CIR_percent_calc(service_BW,CIR_percentage,Lag_bw) }} burst {{cbs}} kbytes peak-rate percent {{ jinja_func.lag_peak_percent_calc(service_BW,Lag_bw) }} peak-burst {{ebs}} kbytes
    {% elif  QOS_type== 'Standard' -%}
        police rate {{ service_BW * CIR_percentage // 100 }} kbps burst {{cbs}} kbytes peak-rate {{ jinja_func.add_2_percent(service_BW,main_interface_bw) }} kbps peak-burst {{ebs}} kbytes
    {% else -%}
        police rate {{ jinja_func.add_2_percent(service_BW,main_interface_bw) }} kbps burst {{cbs}} kbytes
    {% endif -%}
    !
    set traffic-class {{TC}}
    set qos-group {{EXP}}
    !
    end-policy-map
    !
{% else -%}
    policy-map P2P_PARENT_HQOS_INGRESS_{{ item }}_DIP
    class class-default
    service-policy P2P_CHILD_HQOS_INGRESS_{{ item }}_DIP
    {% if 'Bundle' in main_interface -%}
        police rate percent {{ jinja_func.lag_peak_percent_calc(service_BW,Lag_bw) }}
    {% else -%}
        police rate percent {{ jinja_func.peak_percent_calc(service_BW,main_interface_bw) }} 
    {% endif -%}
    end-policy-map
    policy-map P2P_CHILD_HQOS_INGRESS_{{ item }}_DIP
    class PREMIUM-PCP-{{Pre_PCP_START}}-{{Pre_PCP_LAST}}_{{ item }}_DIP
    police rate percent {{Pre_CIR_MAX}} burst {{jinja_func.HQOS_Burst_calc(distributed_service_BW,main_interface_bw,'Premium',Pre_CIR_MAX,wb)}} kbytes
    set qos-group 5
    set traffic-class 6
    class BUSINESS2-PCP-{{B2_PCP}}_{{ item }}_DIP
    police rate percent {{B2_CIR}} burst {{jinja_func.HQOS_Burst_calc(distributed_service_BW,main_interface_bw,'Business2',B2_CIR,wb)}} kbytes peak-rate percent {{B2_EIR_MAX_NCS}} peak-burst {{jinja_func.HQOS_Burst_calc(distributed_service_BW,main_interface_bw,'Business2',B2_EIR_MAX_NCS,wb)}} kbytes
    set qos-group 2
    set traffic-class 4
    class BUSINESS3-PCP-{{B3_PCP}}_{{ item }}_DIP
    police rate percent {{B3_CIR}} burst {{jinja_func.HQOS_Burst_calc(distributed_service_BW,main_interface_bw,'Business3',B3_CIR,wb)}} kbytes peak-rate percent {{B3_EIR_MAX_NCS}} peak-burst {{jinja_func.HQOS_Burst_calc(distributed_service_BW,main_interface_bw,'Business3',B3_EIR_MAX_NCS,wb)}} kbytes
    set qos-group 1
    set traffic-class 3
    class BUSINESS1-PCP-{{B1_PCP}}_{{ item }}_DIP
    police rate percent {{B1_CIR}} burst {{jinja_func.HQOS_Burst_calc(distributed_service_BW,main_interface_bw,'Business1',B1_CIR,wb)}} bytes peak-rate percent {{B1_CIR_MAX}} peak-burst {{jinja_func.HQOS_Burst_calc(distributed_service_BW,main_interface_bw,'Business1',B1_CIR_MAX,wb)}} kbytes
    set traffic-class 5
    set qos-group 3
    class standard-PCP-{{STD_PCP}}_0_{{ item }}_DIP
    police rate percent {{STD_CIR + Pre_BM_CIR + Nor_BM_CIR }} burst {{jinja_func.HQOS_Burst_calc(distributed_service_BW,main_interface_bw,'Standard',(STD_CIR + Pre_BM_CIR + Nor_BM_CIR),wb)}} kbytes peak-rate percent {{STD_CIR_MAX}} peak-burst {{jinja_func.HQOS_Burst_calc(distributed_service_BW,main_interface_bw,'Standard',STD_CIR_MAX,wb)}} kbytes
    set qos-group 4
    set traffic-class 2
    end-policy-map
    class-map match-any PREMIUM-PCP-{{Pre_PCP_START}}-{{Pre_PCP_LAST}}_{{ item }}_DIP
    match cos {{Pre_PCP_START}} 6 {{Pre_PCP_LAST}}
    match dscp {{Pre_DSCP_START}}-{{Pre_DSCP_LAST}}
    end-class-map
    class-map match-any BUSINESS1-PCP-{{B1_PCP}}_{{ item }}_DIP
    match cos {{B1_PCP}}
    match dscp {{B1_DSCP_START}}-{{B1_DSCP_LAST}}
    end-class-map
    class-map match-any BUSINESS2-PCP-{{B2_PCP}}_{{ item }}_DIP
    match cos {{B2_PCP}}
    match dscp {{B2_DSCP_START}}-{{B2_DSCP_LAST}}    
    end-class-map
    class-map match-any BUSINESS3-PCP-{{B3_PCP}}_{{ item }}_DIP
    match cos {{B3_PCP}}
    match dscp {{B3_DSCP_START}}-{{B3_DSCP_LAST}}    
    end-class-map
    class-map match-any standard-PCP-{{STD_PCP}}_0_{{ item }}_DIP
    match cos {{STD_PCP}} 0
    match dscp {{STD_DSCP_START}}-{{STD_DSCP_LAST}}    
    end-class-map
    policy-map P2P_PARENT_HQOS_EGGRESS_{{ item }}_DIP
    class class-default
    service-policy P2P_CHILD_HQOS_EGGRESS_{{ item }}_DIP
    {% if 'Bundle' in main_interface -%}
        shape average percent {{ jinja_func.lag_peak_percent_calc(service_BW,Lag_bw) }}
    {% else -%}
        shape average percent {{  jinja_func.peak_percent_calc(service_BW,main_interface_bw) }} 
    {% endif -%}
    end-policy-map
    policy-map P2P_CHILD_HQOS_EGGRESS_{{ item }}_DIP
    class Premium-TC6-{{ item }}_Egress
    priority level 1
    shape average percent 15
    queue-limit 500 kbytes
    class Business1-TC5-{{ item }}_Egress
    priority level 2
    shape average percent 15
    queue-limit 500 kbytes
    class Business2-TC4-{{ item }}_Egress
    bandwidth percent 20
    random-detect 5100 kbytes 6000 kbytes
    class Business3-TC3-{{ item }}_Egress
    bandwidth percent 20
    random-detect 12750 kbytes 15000 kbytes
    class Standard-CIR-TC2-{{ item }}_Egress
    bandwidth percent 30
    random-detect 3500 kbytes 5000 kbytes
    class class-default
    end-policy-map
    class-map match-any Premium-TC6-{{ item }}_Egress
    match traffic-class 6
    end-class-map
    class-map match-any Business1-TC5-{{ item }}_Egress
    match traffic-class 5
    end-class-map
    class-map match-any Business2-TC4-{{ item }}_Egress
    match traffic-class 4
    end-class-map
    class-map match-any Business3-TC3-{{ item }}_Egress
    match traffic-class 3
    end-class-map
    class-map match-any Standard-CIR-TC2-{{ item }}_Egress
    match traffic-class 2
    end-class-map
    policy-map NNI-QOS-EGRESS-InnerCoS_{{ item }}_DIP
    class Premium-{{ item }}_MatchQOS
    set cos 5
    class Business1-{{ item }}_MatchQOS
    set cos 3
    class Business2-{{ item }}_MatchQOS
    set cos 2
    class Business3-{{ item }}_MatchQOS
    set cos 1
    class Standard-CIR-{{ item }}_MatchQOS
    set cos 4
    class Standard-EIR-{{ item }}_MatchQOS
    set cos 7
    class NC-{{ item }}_MatchQOS
    set cos 6
    class class-default
    set cos 0
    end-policy-map
    class-map match-any Business2-{{ item }}_MatchQOS
    match qos-group 2
    end-class-map
    class-map match-any Business1-{{ item }}_MatchQOS
    match qos-group 3
    end-class-map
    class-map match-any Premium-{{ item }}_MatchQOS
    match qos-group 5
    end-class-map
    class-map match-any Business3-{{ item }}_MatchQOS
    match qos-group 1
    end-class-map
    class-map match-any Standard-CIR-{{ item }}_MatchQOS
    match qos-group 4
    end-class-map
    class-map match-any Standard-EIR-{{ item }}_MatchQOS
    match qos-group 7
    end-class-map
    class-map match-any NC-{{ item }}_MatchQOS
    match qos-group 6
    end-class-map
{% endif -%}