curl --digest -u cisco:cisco123 -X DELETE http://localhost:7000/txt/disjoint-service/{{ src1 }},{{ src2 }}/{{ dst1 }},{{ dst2 }}/{{ disjoint_type }}/minimum/{{ disjoint_min }}
curl --digest -u cisco:cisco123 -X DELETE http://localhost:7000/txt/disjoint-service/{{ dst1 }},{{ dst2 }}/{{ src1 }},{{ src2 }}/{{ disjoint_type }}/minimum/{{ disjoint_min }}